/* Callout CSS */

.callout-container {
   height: 100vh;
   background: url('../img/callout_bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   box-sizing: border-box;
}

h2 {
   margin-top: 0;
}

.jumbotron {
   background-color: rgba(0,0,0,.7);
   height: 30%;
   width: 60%;
   
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.callout-container header {
   padding: 15px;
}

.form-wrap {
   padding: 15px;
}

@media only screen and (min-width: 900px) {
   .jumbotron {
      height: 25%;
      width: 50%;
   }
 }